@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.container {
  background-color: rgb(192, 202, 202);
  margin-top: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
}

#top_card {
  width: 40%;
}

.card {
  text-align: center;
  padding: 25px;
  border: 1px rgb(78, 77, 77) solid;
  margin: 20px auto;
  background: rgb(201,201,201);
  background: radial-gradient(circle, rgba(201,201,201,1) 40%, rgba(186,255,208,1) 100%);
  width: 50%;
  border-radius: 15px;
  box-shadow: 6px 6px 3px rgb(49, 140, 170);
}

.image_center {
  box-shadow: 3px 3px 3px rgb(3, 114, 151);
  border: 5x black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%
}


h1 {
  color: rgb(22, 50, 91);
  font-family: "Bebas Neue", sans-serif;
}

h2 {
  color: rgb(34, 70, 64);
  font-family: "Inria Sans", sans-serif;
}

p {
  font-family: "Inria Sans", sans-serif;
}

#link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(9, 14, 29);
  font-family: "Inria Sans", sans-serif;
  background-color: rgb(112, 140, 165);
  border-radius: 8px;
  padding: 10px;
}

#icon_list {
  width: 40%
}

#link:hover {
  color: rgb(177, 182, 196);
}

li {
  font-size: 30px;
  color: rgb(52, 49, 49);
  display: inline;
  text-align: center;
}

li:hover {
  color: rgb(175, 71, 210);
}

ul {
  padding-inline-start: 5px;
  letter-spacing: 10px;
}
